* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  display: flex;
  box-shadow: 0 1px 5px rgba(167, 161, 161, 0.808);
  align-items: center;
  background-color: white;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 3;
  top: 0;
  padding: 0 20px;
}

nav .face {
  width: 40px;
  height: 40px;
}

.inputsearch {
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0ffff;
  border-radius: 20px;
  margin-left: 10px;
}

div .imginput {
  width: 20px;
  height: 20px;
}

.inputsearch input {
  background-color: #f0ffff;
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  outline: 0;
  padding-left: 10px;
  border-radius: 20px;
}

.cennav {
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: -5px;
}

.cennav img {
  width: 40px;
  height: 40px;
}

.cennav .house {
  display: inline-block;
  border-bottom: 2px solid #1877f2;
  width: 80px;
  padding: 5px;
  padding-left: 20px;
  margin-top: 15px;
}

.lastnav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.lastnav img {
  width: 40px;
  height: 38px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(236, 227, 227);
  margin-left: 15px;
}

.lastnav .h1 {
  padding: 0px;
}
img {
  cursor: pointer;
}
aside,
.aside2 {
  position: fixed;
  bottom: 0;
  top: 70px;
  overflow-y: scroll;
  width: 300px;
  background-color: #f0ffff;
  margin-top: 3px;
  padding: 15px;
  font-size: 17px;
}

aside .asd div {
  display: flex;
  align-items: center;
  line-height: 50px;
}

.asd img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.asd p {
  cursor: pointer;
}
.aside2 {
  font-weight: light;
  font-size: 14px;
  right: 0;
  top: 50px;
}

.aside2 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.aside2 div {
  display: flex;
  align-items: center;
  line-height: 60px;
  color: rgb(160, 157, 157);
}

.aside2 div .img11 {
  width: 120px;
  height: 80px;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 15px;
}

.aside2 .div1 {
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  align-items: flex-start;
}

.aside2 .div1 p {
  padding-top: 15px;
  color: black;
}

.aside2 .p1 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(160, 157, 157);
}

.aside2 .con {
  justify-content: space-between;
}

.aside2 .con .ved {
  width: 55px;
}

.aside2 .con p {
  color: rgb(105, 102, 102);
  font-weight: bold;
  font-size: 18px;
}
.aside2 div:not(.div1, .con) {
  display: flex;
  align-items: center;
  gap: 10px;
}
.aside2 div:not(.div1, .con) p {
  cursor: pointer;
}
body {
  background-color: #f0ffff;
}

main {
  position: absolute;
  top: 90px;
  left: 330px;
  width: 600px;
}

main div img {
  height: 200px;
}

main div .upp {
  width: 120px;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .upp1 p {
  position: absolute;
  color: white;
  bottom: 5px;
  text-shadow: 2px 2px 2px #1877f2;
}

main .upp1 {
  position: relative;
  gap: 10px;
}

main div .cic1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  background-color: white;
}

main div .cic2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  background-color: white;
}

main div .cic3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  background-color: white;
}

main div .cic4 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  background-color: white;
}

main div .cic5 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

.upp1 .up {
  position: relative;
}

.upp1 .ci2 {
  position: absolute;
  top: 15px;
  left: 120px;
  border: 4px solid rgb(8, 118, 243);
}

.upp1 .up1 {
  position: relative;
}

.upp1 .cic3 {
  position: absolute;
  top: 15px;
  left: 250px;
  border: 4px solid rgb(8, 118, 243);
}

.upp1 .up2 {
  position: relative;
}

.upp1 .cic4 {
  position: absolute;
  top: 15px;
  left: 380px;
  border: 4px solid rgb(8, 118, 243);
}

.upp1 .up3 {
  position: relative;
}

.upp1 .cic5 {
  position: absolute;
  top: 15px;
  left: 500px;
  border: 4px solid rgb(8, 118, 243);
}

main .div2 {
  background-color: white;
  display: flex;
  width: 100%;
  height: 70px;
}

.divmain img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  flex-shrink: 0;
}

.div3 {
  border-top: 1px solid black;
  padding: 10px;
  gap: 15px;
}

.divmain {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: white;
  padding: 10px;
  gap: 15px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgb(192, 186, 186);
}
.upp1 {
  margin-bottom: 30px;
}
.div2 input {
  width: 400px;
  height: 50px;
  margin-left: 20px;
  border: none;
  background-color: #f0ffff;
  border-radius: 50px;
  padding: 10px;
  outline: none;
}

.divmain .ppp {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 5px;
}

.divmain span {
  font-weight: lighter;
  font-size: 15px;
  display: flex;
}

.divmain .maim55 {
  width: 90%;
  height: 350px;
  border-radius: 0px;
}

.divmain .poo {
  position: absolute;
  left: 0px;
}

.divmain .dots {
  position: absolute;
  right: 10px;
}

.divmain .like {
  border-top: 1px solid rgb(163, 160, 160);
  padding: 10px;
  width: 100%;
  gap: 30px;
}

.divmain p {
  width: 100%;
  margin-left: 15px;
}
@media screen and (max-width: 991px) {
  aside {
    padding: 10px;
    width: fit-content;
  }
  .aside2 {
    display: none;
  }
  aside p {
    display: none;
  }
  main {
    left: 70px;
    overflow-x: auto;
  }
  .lastnav {
    margin-left: 0;
  }
  .house {
    width: fit-content !important;
    padding: 0 !important;
    margin-top: 5px !important;
  }
  .cennav {
    margin-left: 10px;
    gap: 10px;
  }
  h1 {
    font-size: 20px;
  }
}
